## Homework 2 Submission
Write your name and surname below:
<br>
Name:
<br>
Surname:

***Problem 1:***<br>a. Write a lambda function that raises a number to the third power and maps it on the following list creating a new list named "result".<br>
b.  Define a function that takes a number as an input and returns True if it is odd and False otherwise. Filter "result" list keeping only odd numbers using the function defined.

In [2]:

nums = [3, 4, 5, 6, 7]

#a
result =list(map( lambda x: x**3, nums ))
print(result)


###_____________End code here_________________###

[27, 64, 125, 216, 343]

In [ ]:

#b
def boo(num):
    if num%2!= 0:
        print(True)
    else:
        print(False)
boo(8)

odd = list(filter(lambda x: x%2!=0, result))
print(odd)

###_____________End code here_________________###

False
[27, 125, 343]

***Problem 2:*** <br>Write a program that asks a user to provide  a name  and a surname and returns a new email with  "@edu.aua.am" ending and underscore between the name and surname.<br> **Example**:
For a person named Steve Jobs the email should be steve_jobs@edu.aua.am.

In [ ]:
#_____________Start code here_________________###
inp = input("Enter your name and surname")
info = str(inp).split()
print(str.lower(info[0])+"_"+str.lower(info[1])+"@edu.aua.am")

###_____________End code here_________________###

***Problem 3:*** <br> a. Use an assert statement to make sure that the passed list is not empty and if it is empty report it with an expression that tells the list being empty <br>b. Write a function that asks a user to input numbers separated by a comma and return the average of numbers.<br> Make sure to warn the user if he/she provided as an input anything other than number.<br>
**Hint:** You can use try/except.

In [ ]:
#a
def avg(marks): 
    assert(len(marks)>0), "Please write numbers"
    return sum(marks)/len(marks)

mark1 = [2, 3, 5]
print("Average of mark1:",avg(mark1))

In [ ]:
#b

mrk = input( "write numbers separated by a comma" )
import numpy as np

def av():
    user_input = input("write numbers separated by a comma")
    upd = [float(i) for i in user_input.split(",")]
    user_input_array = np.array(upd)
    av_of_input = np.average(user_input_array)
    print (av_of_input)

***Problem 4:***  <br>Given the list below, create a new one that contains all the numeric elements of the nested lists using list comprehensions.<br>
**Note:** "10" is numeric. <br>
**Hint:** Use isdigit() method to check whether a string is numeric.

In [ ]:
list_of_list = [[1,"I am a string",2,3],[4,"5",6,"Not a number"],[7,8,9,"10"]]
#

[j for i in list_of_list for j in i if str(j).isdigit()]

***Problem 5:***<br>Increase the following data scientists' salaries by 10 percent except for Lord Voldemort using dictionary comprehension.

In [ ]:
Data_Scientist={"Harry Potter":700,"Ron Weasley":650,"Lord Voldemort":900,"Hermione Granger":800,"Albus Dumbledore":1000}




{key:value+value*0.1 for i in Data_Scientist for key,value in Data_Scientist.items() if key !="Lord Voldemort"}

###_____________End code here_________________###

***Problem 6:***<br>a. Create a new folder in your current directory named "files" and change directory into that folder.<br>
b. There are 4 famous quotes in "quotes" list provided below. Create/write 4 separate txt files one for each quote.<br>
c. List all the files in "files" directory and loop over the files to read the quotes and write all quotes in a new txt file called "combined.txt".
<br>**Note: Do not forget to change back to your working directory for the remaining problems.**

In [ ]:
#Ea
import os
os.getcwd()
os.mkdir("files")
os.chdir("files")

In [ ]:
#b
quotes=["I'm going to make him an offer he can't refuse.",
"The first rule of Fight Club is: You do not talk about Fight Club.",
"Of all the gin joints in all the towns in all the world, she walks into mine.", 
"Being brave doesn't mean you go looking for troubleâ€¤"]
print(quotes[3])

names = [1,2,3,4]
for i ,j in zip(names,quotes):
    with open(str(i)+".txt", "a") as file:
        file.write (str(j))

In [ ]:
#c
a = os.listdir()
print(a)
for i in a:
    with open(i, "r") as txt:
        t=txt.read()
    with open ("combined.txt", "w") as c:
        c.write(str(t))

In [ ]:

print(os.getcwd())

***Problem 7:***
<br>a. Calculate the value of "string" expression given below.<br>
b. Execute the code written in "code.txt" file attached.

In [ ]:
#a
a=5
c=2
string='round((a+51)**c/75,-1)+1'
eval(string)

In [ ]:
#b

###_____________Start code here_________________###
with open ("code.txt", "r") as code:
    c=code.read()
    exec(c)
###_____________End code here_________________###

***Problem 8:***<br>
**a.**<br> Our 5 students' test scores are now stored in the 2-d array "student_scores". Each row stores the corresponding test's scores. <br>
Calculate the mean of grades of each student(columns) and the median of grades per test (rows)?

In [ ]:
student_scores = np.array([[92, 94, 88, 91, 87],
                           [79, 100, 86, 93, 91],
                           [87, 85, 72, 90, 92]])


print(np.mean(student_scores,axis=0))
print(np.median(student_scores,axis=1))

###_____________End code here_________________###

**b.**<br>
Create a logical statement that selects elements in "porridge" array that are less than 60, and saves them in a new array called "cold".<br>
Create a logical statement that finds all elements that are higher than 80 and saves them in an array named "hot".

In [ ]:
#
porridge = np.array([79, 65, 50, 63, 56, 90, 85, 98, 79, 51])
###_____________Start code here_________________###
import numpy as np
cold=[]
hot = []
for i in porridge:
    if i<60:
        cold.append(i)
    elif i>80:
        hot.append(i)
    
    
print(cold)
print(hot)

###_____________End code here_________________###

***Problem 9:***<br><br>**Note:** You do not have to create arrays mannualy; you can use NumPy methods for the below assignments.
<br>**a.** Create a null vector of length 100 then assign 10 to 5th value.<br>
**b.** Create a vector of length 10 with random integers between 1 and 10.<br>
**c.** Convert the given 1D array to a 2D array with 5 rows and 2 columns.
<br> **Hint:** You can use numpy's reshape, random.randint, random.random methods for the below assignments.

In [ ]:
#a
import numpy as np
x=np.zeros(100)
x[5]=10
x

In [ ]:
#b 
import random
vect = [random.randint(1,10) for i in range(10)]
vect

In [ ]:
#c
arr=np.array([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
newarr=np.reshape(arr, (-1,2))
newarr

***Problem 10:***<br>
Create a DataFrame with the provided data. We have already filled in the information for "Product ID" in "df1".<br>
Write a code to create the columns "Product Name" and "Color" with the data given below.</center><br>
Products are a pair of blue jeans, a green t-shirt, a black hat and white shoes.<br>
After all output (save) it as an .xlsx file in your current directory.

In [ ]:
df1 = pd.DataFrame({
  'Product ID': [1, 2, 3, 4],
   'Product Name':["jeans","t-shirt","hat","shoes"],
   'Color':["blue","green","black","white"]
 
})
print(df1)
df1.to_excel("df1.xlsx") 

    ###_____________End code here_________________###

***Problem 11:***<br>Read the attached file "titanic.csv" as DataFrame "df", have a look at first 5 rows and get information about the dataset using info() method.</strong><br>

In [ ]:
import pandas as pd
titanic= pd.read_csv("titanic.csv")
titanic.info()

Here is the description of dataset columns:
survival - Survival (0 = No; 1 = Yes)<br>
class - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)<br>
sex - Sex<br>
age - Age<br>
sibsp - Number of Siblings/Spouses Aboard<br>
parch - Number of Parents/Children Aboard<br>
ticket - Ticket Numbe
fare - Passenger Fare<br>
cabin - Cabin<br>
embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)<br>
boat - Lifeboat (if survived)<br>
body - Body number (if did not survive and body was recovered)<br>
home.dest - Adress of people
<br><br>
a. Drop columns cabin, embarked, boat, body, home.dest.

In [ ]:
#a
titanic.drop('cabin', axis=1, inplace=True)
titanic.drop('embarked', axis=1, inplace=True)
titanic.drop('boat', axis=1, inplace=True)
titanic.drop('body', axis=1, inplace=True)
titanic.drop('home.dest', axis=1, inplace=True)

In [ ]:
print(titanic)

b. Check how many rows contain missing values.

In [ ]:
#b
titanic.isna().sum()

#### c. Fill missing values in age column by its mean or median.

In [ ]:
#c
titanic['age'] = titanic['age'].fillna((titanic['age'].mean()))

d. Drop remaining missing values.

In [ ]:
#d
titanic.dropna()

e. Calculate the percent of survived and not survived by sex.

In [ ]:
#e 
a =pd.crosstab(titanic.sex,titanic.survived)
print(a)
femS = a[1][0]/(a[0][0]+a[1][0])*100
malS = a[1][1]/(a[0][1]+a[1][1])*100
print(femS, "% of female passangers survived")
print(malS, "% of male passangers survived")

f. Create a new column named "fare_AMD" with the prices of tickets in AMD (1 USD = 485 AMD).<br>
**Hint:** You can do it by applying a function on column "fare".

In [ ]:
#f

titanic["fare_AMD"] = titanic["fare"].apply(lambda x: str(x*485) + "AMD")
titanic

g. Round the values of "fare" column and add '$' sign in front of them by applying a lambda function.

In [ ]:
#g
rounded= titanic["fare"].apply(lambda x: "$"+str(round(x,0))) 
print(rounded)

**Problem 13:**<br>
a. Find all names and ages in the text given below using regex and create dictionary where names are keys and ages are values.

In [ ]:
#
text = "I'm Jonh and I'm 12 year old, Jack is 23 and Suzan is 45 and 2132 they all earning $100"

###doonnee____________Start code here_________________###
import re 
pattern = r"[A-Z][a-z]+"
name = re.findall(pattern,text)
pattern1 = r"[1-9]+"
age = re.findall(pattern1, text)

inf = {i:j for i,j in zip(name, age)}
inf

###_____________End code here_________________###

b. Substitute all email endings in the text given below with "@hogwarts.com" using regex.

In [ ]:
my_t = "My name is Harry, my e-mail is HarryPotter@aua.am, I need to send my statement of purpose to careers@aua.am"


import re
re.sub("@[\w\.-]+", "@hogwarts.com", my_t)


###_____________End code here_________________###

**Problem 14**
<br>Read "data.txt" file attached and get all phone numbers and email addresses into separate lists using regex.

In [ ]:
#
with open("data.txt", "r") as data:
    d=data.read()
mails =re.findall(r"[\w.-]+@[\w\.-]+", d)
print("THE MAILS ARE", mails)
phone=re.findall(r"[0-9$][\w.-]+-[\w\.-]+", d)
print("THE PHONE NUMBERS ARE", phone)

***Problem 15***<br>Create a class of a human that has data attribute "nationality" as Armenian.<br> Make sure that the class instances of human class have arguments name, surname, profession and salary. <br>The class defined must have a method that returns an expression in this format: "Hi, I am "name" "surname". I am a/an "profession" and I earn "salary" a month."<br>
Create one or more isntancses of the class and call the class method defined on it or them.

In [ ]:

class Human():
    nationality = "Armenian"
    def __init__(self, name,surname, profession, salary):
        self.name=name
        self.surname=surname
        self.profession=profession
        self.salary=salary
    def display (self):
        print("Hi, I am", self.name, self.surname ,".I am a/an" , self.profession,  "and I earn", self.salary, "a month.")
        

she = Human("Lilith", "Gevorgyan", "doctor", 1000)

she.display()